@font-face {
    font-family: 'poppins';
    src: url('../assets/fonts/poppins-black-webfont.woff2') format('woff2'),
         url('../assets/fonts/poppins-black-webfont.woff') format('woff'),
         url('../assets/fonts/poppins-black-webfont.ttf') format('truetype'),
         url('../assets/fonts/poppins-black-webfont.svg#poppinsblack') format('svg');
    font-weight: 900;
    font-style: normal;
}




@font-face {
    font-family: 'poppins';
    src: url('../assets/fonts/poppins-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/poppins-bold-webfont.woff') format('woff'),
         url('../assets/fonts/poppins-bold-webfont.ttf') format('truetype'),
         url('../assets/fonts/poppins-bold-webfont.svg#poppinsbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'poppins';
    src: url('../assets/fonts/poppins-semibold-webfont.woff2') format('woff2'),
         url('../assets/fonts/poppins-semibold-webfont.woff') format('woff'),
         url('../assets/fonts/poppins-semibold-webfont.ttf') format('truetype'),
         url('../assets/fonts/poppins-semibold-webfont.svg#poppinssemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}




@font-face {
    font-family: 'poppins';
    src: url('poppins-medium-webfont.woff2') format('woff2'),
         url('poppins-medium-webfont.woff') format('woff'),
         url('poppins-medium-webfont.ttf') format('truetype'),
         url('poppins-medium-webfont.svg#poppinsmedium') format('svg');
    font-weight: 500;
    font-style: normal;
}




@font-face {
    font-family: 'poppins';
    src: url('../assets/fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/poppins-regular-webfont.woff') format('woff'),
         url('../assets/fonts/poppins-regular-webfont.ttf') format('truetype'),
         url('../assets/fonts/poppins-regular-webfont.svg#poppinsregular') format('svg');
    font-weight: 400;
    font-style: normal;
}


